@model SmokeQuit.Repositories.DuongLNT.Models.LeaderboardsDuongLnt

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LeaderboardsDuongLnt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaySmokeFree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaySmokeFree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoneySave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoneySave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RankPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RankPosition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAchievements)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAchievements)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgressScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgressScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StreakCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StreakCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommunityContribution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommunityContribution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTopRanked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTopRanked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plan.Reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LeaderboardsDuongLntid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
